@model BITC.CMS.Data.Entity.BlogEntry

@{
    ViewBag.Title = Model.BlogEntryID > 0 ? Model.BlogTitle : "Blog Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <form class="form-horizontal validate-form" method="post">
        @Html.AntiForgeryToken()
        <div class="form-body">
            @Html.EditorFor(m => m, "EntityDetail")
        </div>
        <div class="form-actions fluid">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">@CommonResource.Save</button>
                @Html.ActionLink(CommonResource.Cancel, "Index", "Blog", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </form>
</div>