@model ICollection<BITC.CMS.Data.Model.PortfolioImage>

<ul class="image-list">
    <li>
        <a href="javascript:void(0);" class="image-plus-button" data-toggle="modal" data-target="#PortfolioImageDialog"></a>
    </li>
</ul>

<div class="modal fade" id="PortfolioImageDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="PortfolioImage">Upload</label>
                            <div class="col-md-9">
                                @(Html.Kendo().Upload()
                                    .Name("PortfolioImage")
                                    .Multiple(false)
                                    .Async(async => async.AutoUpload(true).Save("UploadPortfolioImage", "Portfolio").Remove("RemovePortfolioImage", "Portfolio"))
                                    .Events(events =>
                                    {
                                        events.Select("PortfolioImage_onSelect");
                                    })
                                )
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="txtDescription">@BITC.CMS.Resource.CommonResource.Description</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="txtDescription"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSaveChange">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).on("click", "#btnSaveChange", function (e) {
        var _img = {
            PortfolioImagePath: "",
            Description: $("#txtDescription").val()
        };

        $.ajax({
            url: '@Url.Action("SavePortfolioImage","Portfolio")',
            dataType: 'json',
            contentType: 'application/json',
            type: 'POST',
            data: JSON.stringify(_img),
            success: function (msg) {
                $("#PortfolioImageDialog").modal('hide');
            }
        })
    });

    function PortfolioImage_onSelect(e) {

    }
</script>