<ul class="nav navbar-nav">
    <li>
        <a href='@Url.Action("Index", "Page", new { url = "/" })'>
            Home
        </a>
    </li>
    <li>
        <a href='@Url.Action("Index", "Page", new { url = "/Blog" })'>
            Blog
        </a>
    </li>
    <li>
        <a href='@Url.Action("Index","Page",new {url = "Contact"})'>Contact</a>
    </li>
</ul>