@helper ClientView()
{
    <ul class="bxslider1 clients-list">
        <li>
            <a href="http://133.com.vn" target="_blank">
                <img src="/Upload/Client/Z133_gray.png" alt="" />
                <img src="/Upload/Client/Z133.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="http://azzavietnam.com.vn" target="_blank">
                <img src="/Upload/Client/azza_gray.png" alt="" />
                <img src="/Upload/Client/azza.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="http://vietphap.vn" target="_blank">
                <img src="/Upload/Client/vietphap_gray.png" alt="" />
                <img src="/Upload/Client/vietphap.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="http://captreotaythien.vn" target="_blank">
                <img src="/Upload/Client/captreotaythien_gray.png" alt="" />
                <img src="/Upload/Client/captreotaythien.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="http://marmedia.vn" target="_blank">
                <img src="/Upload/Client/marmedia_gray.png" alt="" />
                <img src="/Upload/Client/marmedia.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="http://hacid.vn" target="_blank">
                <img src="/Upload/Client/hacid_gray.png" alt="" />
                <img src="/Upload/Client/hacid.png" class="color-img" alt="" />
            </a>
        </li>
        <li>
            <a href="http://riostudio" target="_blank">
                <img src="/Upload/Client/rio_gray.png" alt="" />
                <img src="/Upload/Client/rio.png" class="color-img" alt="" />
            </a>
        </li>
    </ul>
}

@helper RecentPortfolio()
{
    <div class="col-md-3">
        <h2><a href="portfolio.html">Recent Works</a></h2>
        <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde voluptatem. Sed unde omnis iste natus error sit voluptatem.</p>
    </div>
    <div class="col-md-9">
        <ul class="bxslider">
            <li>
                <em>
                    <img src="/Theme/Metronic/assets/img/works/img1.jpg" alt="" />
                    <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                    <a href="/Theme/Metronic/assets/img/works/img1.jpg" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                </em>
                <a class="bxslider-block" href="#">
                    <strong>Amazing Project</strong>
                    <b>Agenda corp.</b>
                </a>
            </li>
            <li>
                <em>
                    <img src="/Theme/Metronic/assets/img/works/img2.jpg" alt="" />
                    <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                    <a href="/Theme/Metronic/assets/img/works/img2.jpg" class="fancybox-button" title="Project Name #2" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                </em>
                <a class="bxslider-block" href="#">
                    <strong>Amazing Project</strong>
                    <b>Agenda corp.</b>
                </a>
            </li>
            <li>
                <em>
                    <img src="/Theme/Metronic/assets/img/works/img3.jpg" alt="" />
                    <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                    <a href="/Theme/Metronic/assets/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                </em>
                <a class="bxslider-block" href="#">
                    <strong>Amazing Project</strong>
                    <b>Agenda corp.</b>
                </a>
            </li>
            <li>
                <em>
                    <img src="/Theme/Metronic/assets/img/works/img4.jpg" alt="" />
                    <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                    <a href="/Theme/Metronic/assets/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                </em>
                <a class="bxslider-block" href="#">
                    <strong>Amazing Project</strong>
                    <b>Agenda corp.</b>
                </a>
            </li>
            <li>
                <em>
                    <img src="/Theme/Metronic/assets/img/works/img5.jpg" alt="" />
                    <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                    <a href="/Theme/Metronic/assets/img/works/img5.jpg" class="fancybox-button" title="Project Name #5" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                </em>
                <a class="bxslider-block" href="#">
                    <strong>Amazing Project</strong>
                    <b>Agenda corp.</b>
                </a>
            </li>
            <li>
                <em>
                    <img src="/Theme/Metronic/assets/img/works/img6.jpg" alt="" />
                    <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                    <a href="/Theme/Metronic/assets/img/works/img6.jpg" class="fancybox-button" title="Project Name #6" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                </em>
                <a class="bxslider-block" href="#">
                    <strong>Amazing Project</strong>
                    <b>Agenda corp.</b>
                </a>
            </li>
            <li>
                <em>
                    <img src="/Theme/Metronic/assets/img/works/img3.jpg" alt="" />
                    <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                    <a href="/Theme/Metronic/assets/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                </em>
                <a class="bxslider-block" href="#">
                    <strong>Amazing Project</strong>
                    <b>Agenda corp.</b>
                </a>
            </li>
            <li>
                <em>
                    <img src="/Theme/Metronic/assets/img/works/img4.jpg" alt="" />
                    <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                    <a href="/Theme/Metronic/assets/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                </em>
                <a class="bxslider-block" href="#">
                    <strong>Amazing Project</strong>
                    <b>Agenda corp.</b>
                </a>
            </li>
        </ul>
    </div>
}