@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-md-12">
    @(Html.Kendo().Grid<BITC.CMS.Data.Entity.ProjectCategory>()
                            .Name("grdProjectCategory")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.ProjectCategoryName);
                        columns.Bound(p => p.Description);
                        columns.Bound(p => p.CreatedBy);
                        columns.Bound(p => p.CreatedDate).Format("{0:dd/MM/yyyy}");
                        columns.Template(a => a.ProjectCategoryID).ClientTemplate("<a class='k-button' href='" + BITC.Web.Library.Utility.GenerateClientTemplateUrl("Edit", "Project", "ProjectCategoryID", "Admin") + "'><span class='glyphicon glyphicon-pencil'></span></a><a class='k-button k-button-icontext k-grid-delete'><span class='glyphicon glyphicon-remove'></span></a>").Width(155);
                        columns.Command(command => command.Destroy()).Visible(false);

                    })
                    .ToolBar(toolbar => toolbar.Template(@<text><a class="btn btn-default" href="@Url.Action("Create", "ProjectCategory")"><span class="glyphicon glyphicon-plus"></span>@CommonResource.AddNew</a></text>))
                            .Pageable()
                            .Sortable()
                            .DataSource(source => source.Ajax()
                                .Model(model =>
                                {
                                    model.Id(p => p.ProjectCategoryID);
                                    model.Field(p => p.ProjectCategoryID).Editable(false);
                                })
                                .Sort(sort => sort.Add("SortOrder"))
                                .Read(read => read.Action("Read", "ProjectCategory"))
                                .Destroy(destroy => destroy.Action("Delete", "ProjectCategory")))
    )
</div>
