<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version"
       value="3.0.0.0" />
  <add key="webpages:Enabled"
       value="false" />
  <add key="ClientValidationEnabled"
       value="true" />
  <add key="UnobtrusiveJavaScriptEnabled"
       value="true" />
  <add key="Theme" value="Metronic"/>
  <add key="MediaFolder" value="~/Upload/Media"/>
  <add key="UploadcareKey" value="52f57bf96c9db0a3b048"/>
  <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="BITC.CMS.UI" />
  <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
  <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
</appSettings>
