@using Kendo.Mvc.UI
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    @(Html.Kendo().Grid<BITC.CMS.Data.Model.Page>()
                    .Name("grdPage")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.PageTitle);
                        columns.Bound(p => p.Url);
                        columns.Bound(p => p.CreatedBy);
                        columns.Bound(p => p.CreatedDate).Format("{0:dd/MM/yyyy}");
                        columns.Command(action =>
                        {
                            action.Custom("Edit");
                            action.Destroy();
                        });
                    })
                    .ToolBar(toolbar =>
                    {
                        //toolbar.Custom().Action("Create", "Page");
                        //toolbar.Save();
                    })
                    .Pageable()
                    .Sortable()
                    .DataSource(source => source.Ajax()
                        .Model(model =>
                        {
                            model.Id(p => p.PageID);
                            model.Field(p => p.PageID).Editable(false);
                        })
                        .Read(read => read.Action("LoadAllPages", "Page"))
                        .Destroy(destroy => destroy.Action("Delete", "Page")))
    )
</div>