@model BITC.CMS.Data.Model.Page
@{

}
@if (Model != null)
{
    if (String.IsNullOrEmpty(Model.Template))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    @Html.Raw(Model.Body)
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Partial(Model.Template)
    }
}